<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharewanted.shareeats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareEats">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/api_id" />
        <activity
            android:name=".src.chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.home.order.OrderItemActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.home.participate.ParticipateActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.mypage.edituser.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.userlogin.find.CheckPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.userlogin.find.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.userlogin.find.CheckIdActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.userlogin.find.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.mypage.notice.NoticeContentActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.mypage.notice.NoticeActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.mypage.orderinfo.OrderInfoActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.mypage.orderdetail.OrderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.mypage.creator.CreatorActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.home.order.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.userlogin.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.userlogin.LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".src.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>